{{!-- This is the form of a Handlebars comment --}}
{{!-- TODO, figure out where the Handlebars fields are retrieved from --}}
{{!-- NOTE: the structure of the actors can be found in C:\Users\eugen\AppData\Local\FoundryVTT\Data\worlds\test-simple-worldbuilding\data --}}
{{!-- TODO, remove CSS class charname, add LeftCol, add flexcol-pc-sheet --}}

<form class="flexcol-pc-sheet">
    {{!-- Sheet left-col --}}
    <div class="left-col">

        <div class="img-and-header">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" alt="{{data.name}}" height="100" width="100">
            <input type="text" name="name" value="{{data.name}}" placeholder="Name" />
            <input type="text" name="data.race" value="{{data.race}}" />
            <input type="text" name="data.class" value="{{data.class}}" />
        </div>
        
        <div class="header-fields">
            <h1 class="details_block">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <input type="number" name="data.hit-points.value" value="{{systemData.hit-points.value}}"/>
                <span> / </span>
                <input type="number" name="data.hit-points.max" value="{{systemData.hit-points.max}}"/>
            </div>
        </div>
    </div>
</form>